@import '../../node_modules/normalize.css/normalize';

@import 'mixins';
@import 'variables';
@import 'base';

html.embedded, html.not-embedded {
  // Applied when embedded using Pym.js
  font-size: 10px;
}

body {
  // This helps Pym.js more more accurately measure our <body>
  &:before,
  &:after {
    content: " ";
    display: table;
  }
}
#embed-content {
  position: relative;
}
.chatter {
  padding-right: 35px;
}

#content-switcher {
  position: absolute;
  top: 20px;
  right: 15px;
  width: 30px;
  height: 30px;
  background-color: $chartRed;
  color: white;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  i {
    font-size: 16px;
    line-height: 30px;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#map {
  width: 100%;
  height: 500px;
}

#map-container {
  position: relative;
}

.mapboxgl-popup-content {
  font-family: $sans;
  max-width: 250px;
  padding: 10px;
  h6 {
    @include type(1.5rem, 1.8rem, 0);
    margin: 0 0 .6rem;
  }
  h5 {
    @include type(1.8rem, 2.4rem, 0);
    margin: 0 0 .6rem;
  }
  p {
    @include type(1.3rem, 1.5rem, 0);
    margin: 0 0 .3rem;
  }
  a {
    color: $dmnblue;
  }
}

.golf__nav {
  ul {
    li {
      display: inline-block;
      @include type(1.3rem, 1.8rem, 0);
      margin-right: 10px;
      font-weight: bold;
      text-transform: uppercase;
      cursor: pointer;
      color: $chartRed;
      padding: 5px;
      &:first-of-type {
        text-transform: none;
        font-weight: normal;
        cursor: auto;
        color: black;
        padding: 5px 0;
      }
    }
  }
}

#course-select {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 10px;
  background-color: rgba(255,255,255, .9);
  min-width: 120px;
  li {
    @include type(1.2rem, 1.8rem, .6rem);
    padding: 5px 5px 5px 20px;
    position: relative;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    &:before {
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      position: absolute;
      top: 9px;
      left: 5px;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
    &:first-of-type {
      padding: 0 0;
      margin: 0 0 .3rem;
      @include type(1.2rem, 1.8rem, .3rem);
      text-transform: none;
      cursor: auto;
      font-weight: normal;
    }
  }
}

.nav--active {
  background-color: $chartRed;
  color: white !important;
  position: relative;
  &:after {
    @include psuedoElement(8px, 8px, absolute);
    bottom: -4px;
    left: 50%;
    margin-left: -4px;
    @include rotate(45deg);
    background-color: $chartRed;
  }
}

.select--active {
  background-color: $black235;
}

#select__100public:before {background-color: #fec44f;}
#select__100private:before {background-color: #4575b4;}
#select__top50:before {background-color: #52b033;}
#select__economy:before {background-color: #fec633;}
#select__high:before {background-color: #fc4e2a;}
#select__expensive:before {background-color: #800026;}

.note {
  @include type(1.1rem, 1.5rem, 0);
}

.golf__table {
  @include type(1.2rem, 1.5rem, 0);
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-top: 1.2rem;
  th {
    text-align: left;
  }
  tr {
    border-bottom: 1px solid rgb(225,225,225);
  }
  td {
    padding: .2rem .5rem;
  }
}

@media (max-width: 600px) {
  #top-100-table {
      td:nth-of-type(3), th:nth-of-type(3) {
        display: none;
      }
  }
}



.noshow {
  display: none;
}
